---
layout: default
---

<div class="jumbotron hidden-print hidden-xs hidden-sm">
    <div class="container">
      <div class="col-md-2 hidden-print hidden-xs hidden-sm"></div>
      <div class="col-md-7">
          <h1>PRISONER is a framework for
                  running ethical and reproducible
                  social network experiments
          </h1>
          <a href="{{ site.github.url }}/getprisoner.html"><div class="bigButton">Get PRISONER now</div></a>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div id="content" class="splash-content">
    <div class="col-md-4">
      <h1>Ethical</h1>
      <p>Consent goes beyond signing a form.
            PRISONER helps you run studies which communicate clearly to participants how your experiment handles their data, and has built-in support for minimising and sanitising their data.</p>

        <p>Automatically generate meaningful consent forms and supporting documentation for IRB approval, and help us raise the standard of social network research.</p>
    </div>

    <div class="col-md-4">
      <h1>Reproducible</h1>
      <p>Collecting data from social network sites is easy.
        Doing this in a way others can reproduce tomorrow, or in five years, is hard.
        PRISONER helps you archive and share your experimental workflows and
        data.</p>

        <p>Sharing is caring, and it helps your work get the citations it deserves.</p>
    </div>

    <div class="col-md-4">
      <h1>Extensible</h1>
      <p>PRISONER is free and open source. We currently support Facebook, Twitter, and Last.fm, but it’s easy to add support for other social network sites.</p>

        <p>Support the community by contributing support for other services, more
          privacy-preserving transformations, and other extensions to the framework.</p>
    </div>

  </div>
  </div>

  <hr class="news-hr">
  <h1>Latest news</h1>
  <div class="row news-block">

    <div id="news" class="splash-content">

    {% for post in site.posts limit:3 %}
      <div class="col-md-4">
        <div class="blog-tease">
          <h3>{{ post.title }}</h2>
          <p>{{ post.excerpt }}</p>
          <p class="readmore"><a href="{{ site.github.url }}/{{ post.url }}">Read more</a></p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
