<div id="footer">
  <div class="container">
    <div class="col-md-3  hidden-print hidden-sm">
      <div id="footer_logo">
        <img src="blackLogo.png" width="150px" alt="PRISONER">
      </div>
    </div>

    <div class="col-md-9">
      <div id="footer_copy">
        <p>PRISONER is a project of researchers at the <br>
        School of Computer Science at the University of St Andrews, <br>
        supported by the EPSRC.</p>

        <p>To discuss PRISONER, please contact <a href="mailto:lh49@st-andrews.ac.uk">Luke Hutton</a>.</p>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ "js/bootstrap.js" | prepend: site.baseurl }}"></script>2