<div id="footer">
  <div class="container">
    <div class="col-md-3  hidden-print hidden-sm">
      <div id="footer_logo">
        <img src="blackLogo.png" width="150px" alt="PRISONER">
      </div>
    </div>

    <div class="col-md-9">
    <div id="footer_copy">  

        <p>To discuss PRISONER, please contact <a href="mailto:luke.hutton@open.ac.uk">Luke Hutton</a>.</p>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ site.github.url }}/js/bootstrap.min.js"></script>