@CHARSET "UTF-8";

/** Tag Styles */
* {
	border: 0px;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

a img {
	border: none;
	outline: none;
}

body {
	background-attachment: fixed;
	background-color: #FFFFFF;
	background-image: url(images/page_background.jpg);
	background-repeat: repeat;
	color: #444444;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11pt;
	line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: normal;
}

h1 {
	font-size: 27pt;
	line-height: 35px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 {
	font-size: 16pt;
	font-weight: normal;
}


p {
	color: #444444;
	font-size: 11pt;
}

ul {
	color: #444444;
	margin-bottom: 25px;
	padding-left: 20px;
}

strong {
	font-weight: 700;
}

table {
	color: #444444;
	font-size: 11pt;
	line-height: 25px;
}


/** Class styles */
.clear {
	clear: both;
}

.consent_check input {
	margin-right: 5px;
}

.consent_check label {
	margin-left: 15px;
}

.consent_check table {
	border: none;
	width: 100%;
}

.consent_check td {
	padding-bottom: 10px;
}

.consent_info {
	width: 750px;
}

.content-container {
	background-image: url(images/content_background.jpg);
	background-repeat: repeat;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 20px;
	width: 910px;
}

.content {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 10px;
}

.debriefing_intro p {
	margin-bottom: 0px;
}

.email_input {
	background-color: #EEEEEE;
	margin-bottom: 20px;
	margin-top: -20px;
	padding: 10px;
}

.email_input label {
	margin-left: 0px;
}

.email_input input[type=text] {
	border: solid;
	border-color: #999999;
	border-radius: 3px;
	border-width: 1px;
	box-shadow: 0px 0px 5px #444444;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	width: 250px;
}

.error_message {
	color: #990000;
}

.further_info_check {
	clear: both;
	float: none;
	position: relative;
	color: #444444;
	font-size: 11pt;
	margin-bottom: 20px;
	margin-top: -15px;
}

.further_info_check input[type=checkbox] {
	position: absolute;
	top: 6px;
}

.further_info_check label {
	display: block;
	margin-left: 20px;
	position: relative;
}

.header {
	margin-top: 20px;
}

.header img {
	float: left;
}

.image_small {
	float: right;
}

.info img {
	display: block;
	margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}

.info p {
	margin-bottom: 20px;
}

.info table {
	margin-bottom: 20px;
}



.navigation {
	margin-top: 15px;
}

.navigation li {
	float: left;
	line-height: 35px;
}

.navigation li a {
	background-color: #000000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	opacity: 0.2;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.navigation li a:active {
	line-height: 38px;
}

.navigation li a:hover {
	opacity: 0.7;
}

.navigation ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.next_submit input {
	background-color: #009900;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	text-transform: uppercase;
}

.next_submit input:active {
	line-height: 38px;
}

.next_submit input:hover {
	background-color: #000000;
}

.next_submit input[type=submit][disabled=disabled] {
	background-color: #EEEEEE;
	color: #CCCCCC;
	cursor: auto;
}

.notice_normal {
	background-color: #FFFFD1;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #666666;
	font-size: 10pt;
	margin-bottom: 10px;
	padding: 5px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.notice_normal img {
	float: left;
	padding-right: 5px;
	padding-top: 16px;
}

.notice_normal p {
	line-height: 20px;
	margin-bottom: 0px;
}

.prev_submit input {
	background: #000000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	clear: both;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	opacity: 0.2;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	text-transform: uppercase;
}

.prev_submit input:hover {
	opacity: 0.6;
}

.question p {
	margin-bottom: 0px;
}

.question input[type=radio] {
	margin-right: 5px;
}

.question label {
	margin-left: 25px;
}

.statement_info {
}

.statement_info p {
	color: #999999;
	font-size: 13pt;
	margin-bottom: 0px;
	margin-top: -5px;
}

.wrapper {
	margin: 0px auto;
	width: 950px;
}


/** Links. */
.content p a:link {
	color: #0066CC;
	text-decoration: underline;
}
.content p a:visited {
	color: #0066CC;
	text-decoration: underline;
}
.content p a:hover {
	color: #0066CC;
	text-decoration: none;
}
.content p a:active {
	color: #0066CC;
	text-decoration: none;
}

.notice_normal p a:link {
	color: #111111;
	text-decoration: underline;
}
.notice_normal p a:visited {
	color: #111111;
	text-decoration: underline;
}
.notice_normal p a:hover {
	color: #111111;
	text-decoration: none;
}
.notice_normal p a:active {
	color: #111111;
	text-decoration: none;
}


.button_green a:link, .button_green a:visited, .button_green a:hover, .button_green a:active {
	color: #FFFFFF;
	text-decoration: none;
}

.info h2 a:hover {
	color: #000000;
}


/** Loading animations. */
#loading_animation {
	display: block;
	height: 20px;
	margin-bottom: 5px;
	margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
	width: 200px;
}

.loading_animation {
	background-color: #FFFFFF;
	float: left;
	height: 20px;
	margin-left: 17px;
	width: 20px;
	-webkit-animation-name: bounce_circleG;
	-webkit-border-radius: 21px;
	-webkit-animation-duration: 1.35s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-moz-animation-name: bounce_circleG;
	-moz-border-radius: 21px;
	-moz-animation-duration: 1.35s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	opacity: 0.3;
	-o-animation-name: bounce_circleG;
	border-radius: 21px;
	-o-animation-duration: 1.35s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	-ms-animation-name: bounce_circleG;
	-ms-animation-duration: 1.35s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
	opacity: 0.3
}

#load_ball_01 {
	-webkit-animation-delay: 0.27s;
	-moz-animation-delay: 0.27s;
	-o-animation-delay: 0.27s;
	-ms-animation-delay: 0.27s;
}

#load_ball_02 {
	-webkit-animation-delay: 0.63s;
	-moz-animation-delay: 0.63s;
	-o-animation-delay: 0.63s;
	-ms-animation-delay: 0.63s;
}

#load_ball_03 {
	-webkit-animation-delay: 0.8099999999999999s;
	-moz-animation-delay: 0.8099999999999999s;
	-o-animation-delay: 0.8099999999999999s;
	-ms-animation-delay: 0.8099999999999999s;
}

@-webkit-keyframes bounce_circleG {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
		background-color: #000000;
	}
	100% {
		opacity: 0.3;
	}
}

@-moz-keyframes bounce_circleG {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
		background-color: #000000;
	}
	100% {
		opacity: 0.3;
	}
}

@-o-keyframes bounce_circleG{
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
		background-color: #000000;
	}
	100% {
		opacity: 0.3;
	}
}

@-ms-keyframes bounce_circleG{
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
		background-color: #000000;
	}
	100% {
		opacity: 0.3;
	}
}