@CHARSET "UTF-8";

/** Fonts */
@font-face {
	font-family: 'Aller';
	src: url('fonts/aller.eot');
	src: url('fonts/aller.eot?#iefix') format('embedded-opentype'), 
	url('fonts/aller.woff') format('woff'), 
	url('fonts/aller.ttf') format('truetype'), 
	url('fonts/aller.svg#webfont') format('svg');
}


/** Tag Styles */
* {
	border: 0px;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

a img {
	border: none;
	outline: none;
}

body {
	background-color: #FFFFFF;
	color: #444444;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11pt;
	line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: normal;
}

h1 {
	font-size: 27pt;
	line-height: 35px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

h2 {
	font-size: 16pt;
	font-weight: normal;
}

img {
	float: right;
}

p {
	color: #444444;
	font-size: 11pt;
}

ul {
	color: #212121;
	margin-bottom: 25px;
	padding-left: 20px;
}


/** Class styles */
.button_green {
	background: #009900;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

.clear {
	clear: both;
}

.consent_check input {
	margin-right: 5px;
}

.consent_check label {
	margin-left: 15px;
}

.consent_check table {
	border: none;
	width: 100%;
}

.consent_check td {
	padding-bottom: 10px;
}

.consent_info {
	width: 750px;
}

.content-container {
	background-image: url(images/content_background.jpg);
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 20px;
	width: 910px;
}

.content {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 10px;
}

.email_input {
	background-color: #EEEEEE;
	margin-bottom: 20px;
	margin-top: -20px;
	padding: 10px;
}

.email_input label {
	margin-left: 0px;
}

.email_input input[type=text] {
	border: solid;
	border-color: #999999;
	border-radius: 3px;
	border-width: 1px;
	box-shadow: 0px 0px 5px #444444;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	width: 250px;
}

.error_message {
	color: #990000;
}

.further_info_check {
	clear: both;
	float: none;
	position: relative;
	color: #444444;
	font-size: 11pt;
	margin-bottom: 20px;
	margin-top: -15px;
}

.further_info_check input[type=checkbox] {
	position: absolute;
	top: 6px;
}

.further_info_check label {
	display: block;
	margin-left: 20px;
	position: relative;
}

.info p {
	margin-bottom: 20px;
}

.info table {
	margin-bottom: 20px;
}

.next_submit input {
	background: #009900;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

.wrapper {
	margin: 0px auto;
	width: 950px;
}


/** Links. */
.content a:link {
	color: #0066CC;
	text-decoration: underline;
}
.content a:visited {
	color: #0066CC;
	text-decoration: underline;
}
.content a:hover {
	color: #0066CC;
	text-decoration: none;
}
.content a:active {
	color: #0066CC;
	text-decoration: none;
}

.button_green a:link, .button_green a:visited, .button_green a:hover, .button_green a:active {
	color: #FFFFFF;
	text-decoration: none;
}

.info h2 a:hover {
	color: #000000;
}